@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}



body{
    font-family:'inter', sans-serif;
    background-color: #16161A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}



.p-image img{
    opacity: 0;
    transition: opacity 0s ease-in;
}

.p-image img {
    animation: fade-in 0.5s ease-in 0s forwards;
  }





  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.top-header{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 margin-top: 8px;
}

.top-header h3 {
    color: #97968F;
    font-weight: 800;
}

.top-header h3:hover {
    cursor:progress;
    color: white;
}

.social-links{
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.social{
    height: 24px;
    transition: ease;
    transition-duration: 300ms;
}
.social:hover{
    scale: 0.95;
    opacity: 20%;
    transition: ease;
}

.social img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    margin: 20px;
    margin-bottom: 72px;
}

.title h1{
    color: #E6E4E0;
    font-weight: 900;
    font-size: 160px;
    margin: 0%;
    cursor:default;
}

.title p{
    color: #97968F;
    font-weight: 500;
    font-size: 16px;
    margin: 0%;
    cursor:default;
}


.projects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    max-width: 60vw;
    gap: 32px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    width: 44%;
    height: 360px;
    background-color: #000;
    border-radius: 16px;
    cursor: pointer;
    transition-duration: 300ms;
    padding: 20px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.35);
}


.project:hover{

    transition: ease;
    transition-duration: 300ms;
    opacity: 92%;
    scale: 1.01;
    box-shadow: 0px 4px 24px 0px rgba(79, 78, 78, 0.125);
}

.project:hover img{
        filter: brightness(0.98);

}

.project-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.project-details p{
    font-size: 20px;
    font-weight: 600;
}


.tags{
    opacity: 0;
    transition-delay: 2s;
    transition: opacity 0.5s ease-in;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 8px;
    overflow-x: scroll;
}

.tags{

    animation: fade-in 0.5s ease-in 0.5s forwards;;
}

.tags::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.tag{
    border-radius: 28px;
    background: #54545476;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #E6E4E0;
}

.p-image {
    margin-top: 8px;
    width: 100%;
    height: 64%;
    overflow: hidden;
    border-radius: 8px;
}

.p-image img {
    width: 100%;
    object-fit: cover;
}


@media (max-width: 1024px) {


    header{
        width: 98vw;
    }
    .top-header{
        padding: 20px;
        justify-content: space-between;
    }
    .projects{
        width: 100vw;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
    }
    .project{
        width: 84vw;
        height: auto;
        padding: 16px;
    }

    .title h1{
        font-size: 6em;

    }
    .title p{
        font-size: .8rem;
        text-align: center;

    }

    .top-header h3 {
        font-size: 12px;
    }
    .top-header p {
        text-align: center;
    }
    .social{
        height: 16px;
    }

    .social img{
        object-fit: contain;
        width: auto;
        height: 100%;
    }

    .social-links{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;
    }
}



/* Animated Loading */

.animated-bg {
    background-image: linear-gradient(
      to right,
      #131313 0%,
      #1c1c1c 10%,
      #131313 20%,
      #131313 100%
    );
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
  }

  .animated-bg-text {
    border-radius: 8px;
    display: inline-block;
    margin: 16px 0px;
    height: 32px;
    width: 70%;
  }

  @keyframes bgPos {
    0% {
      background-position: 50% 0;
    }

    100% {
      background-position: -150% 0;
    }
  }